{% extends 'base.html' %}
{% load static %}

{% block style&js %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=NanumGothic&display=swap">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login">
    <div class="logo">
        <div class="image">
            <img src="{% static 'img/dgin_icon2.png' %}" alt="">
        </div>
        <div class="v31_281">동국!N</div>
    </div><br><br>
    <span class="v31_281_2">회원가입을 위해 아이디와 비밀번호를 입력해주세요.</span>
    <form action="{% url 'accounts:signup' %}" method="POST">
        {% csrf_token %}
        <div class="v19_437">
            <div class="id">
                아이디 : <input type="text" style="width:240px;" name="username"><br>
            </div>
        </div>
        <div class="v19_438">
            <div class="pw">
                비밀번호 : <input type="password" style="width:240px;" name="password"><br>
            </div>
        </div>
        <div class="v19_438">
            <div class="pw">
                비밀번호 확인 : <input type="password" style="width:240px;" name="confirm"><br>
            </div>
        </div>
        <div class="submit_button">			
            <button type="submit" value="로그인"><a class="btn btn-orange">회원가입</a></button>		
        </div>
    </form>

</div>

{% endblock %}
