{% extends 'base.html' %}
{% load static %}


{% block style&js %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_style.css' %}">
<!-- mypage -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="main-content">
      <div class="container mt-7">
        <!-- Table -->
        <!-- <h2 class="mb-5">개인 프로필</h2> -->
        <br>
        <br>
        <div class="box">
          <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <a href="#">
                      {% if profile.image  %}
                      <img src="{{ profile.image.url }}" class="rounded-circle">
                      {% else %}
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtB6rXnf0CcbxpTidJShuQWRvubJ-tDJS41O9C8IdKGeKxAk7Bnl2A2Vf-iB3Ef-oskVM&usqp=CAU" class="rounded-circle">
                      {% endif %}
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body pt-0 pt-md-4_2">
                <form action="{% url 'users:mypage_update' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}  
                    <div class="info">
                        <div class="photo">
                            <div class="info-title">
                                <div class="title2">프로필 이미지 &nbsp;|</div>
                                <div class="info-text">
                                    <I><input type="file" name="profile_image"></I>
                                </div>
                            </div>
                        </div>
                        <div class="nickname">
                            <div class="info-title">
                                <div class="title2">닉네임 &nbsp;|</div>
                                <div class="info-text">
                                    <I><input type="text" style="width:240px;" name="name" value="{% if profile.name %}{{profile.name}}{% endif %}"></I>
                                </div>
                            </div>
                        </div>
                        <div class="major">
                            <div class="info-title">
                                <div class="title2" id="major">전　공 &nbsp;|</div>
                                
                                <div class="major_select">
                                    <div class="info-text">
                                        <I>
                                            <select id="plus_department" name="plus_department" >
                                                <option value="">-- 선택하세요 --</option>
                                                {% for d in plus_departments %}
                                                <option value="{{ d }}">{{ d }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="department">추가</label>
                                        </I>
                                    </div>
                                    <div class="info-text">
                                        <I>
                                            <select id="minus_department" name="minus_department" >
                                                <option value="">-- 선택하세요 --</option>
                                                {% for d in minus_departments %}
                                                <option value="{{ d }}">{{ d }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="department">제외</label>
                                        </I>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grade">
                            <div class="info-title">
                                <div class="title2">학　년 &nbsp;|</div>
                                <span class="info-text">
                                <I>
                                    <select id="grade" name="grade">
                                    <option value="">-- 선택하세요 --</option>
                                    <option value="1">1학년</option>
                                    <option value="2">2학년</option>
                                    <option value="3">3학년</option>
                                    <option value="4">4학년</option>
                                    <option value="pg">대학원생</option>
                                    <option value="gr">졸업생</option>    
                                    </select>
                                </I>
                                </span>
                            </div>
                        </div>           
                        <div class="intro">
                            <div class="info-title">
                                <div class="title2">한줄소개 &nbsp;|</div>
                                <div class="info-text">
                                    <I>
                                        <textarea name="intro" id="" cols="30" rows="4" placeholder="한줄 소개를 적어주세요!">{{ profile.introduction }}</textarea>
                                    </I>
                                </div>
                            </div>
                        </div>   
                    </div>
                        <div class="text-center">
                            <button class="submit" type="submit">수정완료</button>
                        </div>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
  <script src="{% static 'js/profile_js.js' %}" defer></script>
{% endblock %}