{% extends 'base.html' %}
{% load static %}


{% block style&js %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_style.css' %}">
<!-- mypage -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="main-content">
      <div class="container mt-7">
        <!-- Table -->
        <!-- <h2 class="mb-5">개인 프로필</h2> -->
        <br>
        <br>
        <div class="box">
          <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <a href="#">
                      {% if profile.image  %}
                      <img src="{{ profile.image.url }}" class="rounded-circle">
                      {% else %}
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtB6rXnf0CcbxpTidJShuQWRvubJ-tDJS41O9C8IdKGeKxAk7Bnl2A2Vf-iB3Ef-oskVM&usqp=CAU" class="rounded-circle">
                      {% endif %}
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                <div class="d-flex justify-content-between">
                  <!-- <a href="#" class="btn btn-sm btn-info mr-4">Connect</a> -->
                  <a href="{% url 'users:mypage_edit' %}" class="btn btn-sm btn-default float-right">프로필 수정하기</a>
                </div>
              </div>
              <div class="card-body pt-0 pt-md-4">
                <div class="row">
                  <div class="col">
                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                      <div>
                        <span class="heading">{{count_q}}</span>
                        <span class="description">작성한 질문 수</span>
                      </div>
                      <div>
                        <span class="heading">{{count_a}}</span>
                        <span class="description">작성한 답변 수</span>
                      </div>
                      <!-- <div>
                        <span class="heading">89</span>
                        <span class="description">Comments</span>
                      </div> -->
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <style>
                </style>
                <div class="info">
                  <div class="profilebox" style="padding-left: 6rem;">
                    <div class="nickname">
                      <div class="info-title">
                          <div class="title2">닉네임 &nbsp;|</div>
                          <span class="info-text">
                              <I>{{profile}}</I>
                          </span>
                      </div>
                    </div>
                    <div class="major">
                      <div class="info-title">
                          <div class="title2" id="major">전　공 &nbsp;|</div>                    
                          <div class="major_select">
                              <div class="info-text">
                                <I>{{user_department}}</I>
                              </div>
                          </div>
                      </div>
                    </div>
                    {% if user_sub_department %}
                    <div class="sub_major">
                      <div class="info-title">
                          <div class="title2" id="sub_major">부전공 / 복수전공 &nbsp;|</div>                    
                          <div class="major_select">
                              <div class="info-text">
                                <I>{{user_sub_department}}</I>
                              </div>
                          </div>
                      </div>
                    </div>
                    {% endif %}
                    <div class="grade">
                      <div class="info-title">
                          <div class="title2">학　년 &nbsp;|</div>
                          <span class="info-text">
                            <I>{{profile.year_in_school}}</I>
                          </span>
                      </div>
                    </div>          

                  </div>
                  
                  <div class="text-center">
                    <hr class="my-4">
                    <p class="introduce">— {{profile.introduction}}</p>
                    <!-- <a href="https://www.creative-tim.com/product/argon-dashboard" target="_blank">Show more</a> -->
                    <hr class="my-4">
                    <div class="post_list">
                      <div class="questions">
                        <h4>내가 작성한 질문 목록</h4>
                        {% for question in questions %}
                        <a href="{% url 'qna:detail' question.id %}">
                          <h5>{{ question.title }}</h5>
                        </a>
                        {% endfor %}
                      </div>
                      <div class="answers">
                        <h4>내가 작성한 답변 목록</h4>
                        {% for answer in answers %}
                        <a href="{% url 'qna:detail' answer.question.id %}">
                          <h5>{{ answer.content }}</h5>
                        </a>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  <script src="{% static 'js/profile_js.js' %}" defer></script>
{% endblock %}