<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <link rel="stylesheet" href="profile_style.css">
  <script src="profile_js.js" defer></script>



  <!-- Nav Bar -->
  <!-- https://ninetynine-2026.tistory.com/518 -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  <!--Nav Bar-->

  <!-- mypage -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- mypage -->


</head>

<!-- Nav Bar -->
<nav class="navbar">
	<div class="navbar__logo">
		<i class="fab fa-reddit"></i>
		<a href="">동국 iN</a>
	</div>
	<ul class="navbar__menu">
		<li>
			<a href="">Home</a>
		</li>
		<li>
			<a href="">수업 Q&A</a>
		</li>
		<li>
			<a href="">기타 Q&A</a>
		</li>
		<li>
			<a href="">FAQ</a>
		</li>
		<li>
			<a href="">My Page</a>
		</li>
	</ul>
	<ul class="navbar__icons">
		<li>
			<i class="fab fa-twitter"></i>
		</li>
		<li>
			<i class="fab fa-facebook"></i>
		</li>
		<li>
			<a href="">Login</a>
		</li>
	</ul>

	<a href="#" class="navbar__toggleBtn">
		<i class="fas fa-bars"></i>
	</a>
</nav>
<!-- Nav bar -->

<body>
    <div class="main-content">
      <div class="container mt-7">
        <!-- Table -->
        <!-- <h2 class="mb-5">개인 프로필</h2> -->
        <br>
        <br>
        <div class="row">
          <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <a href="#">
                      <img src="https://t1.daumcdn.net/cfile/tistory/996D544A5ED865C83C" class="rounded-circle">
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                <div class="d-flex justify-content-between">
                  <!-- <a href="#" class="btn btn-sm btn-info mr-4">Connect</a> -->
                  <a href="#" class="btn btn-sm btn-default float-right">로그아웃</a>
                </div>
              </div>
              <div class="card-body pt-0 pt-md-4">
                <div class="row">
                  <div class="col">
                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                      <div>
                        <span class="heading">22</span>
                        <span class="description">작성한 질문 수</span>
                      </div>
                      <div>
                        <span class="heading">10</span>
                        <span class="description">작성한 답변 수</span>
                      </div>
                      <!-- <div>
                        <span class="heading">89</span>
                        <span class="description">Comments</span>
                      </div> -->
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <div class="info">
                  <!-- <p class="sanserif">
                  <h1>
                      INFO
                  </h1>
                  </p> -->
                  <p class="nickname">
                      <p class="info-title">닉네임 &nbsp;|
                        <span class="info-text">
                          <I>안유성</I>
                        </span>
                      </p>
                  </p>
                  <p class="major">
                    <p class="info-title">전　공 &nbsp;|
                      <span class="info-text">
                        <I>전자전기공학부</I>
                      </span>
                    </p>
                  </p>

                  <p class="grade">
                    <p class="info-title">학　년 &nbsp;|
                      <span class="info-text">
                        <I>2학년</I>
                      </span>
                    </p>
                  </p>
              </div>
                <div class="text-center">
                  <!-- <h3>
                    <span class="name"><br>안유성</span>
                    <span class="major"><br>전자과</span>
                  </h3>
                  <div class="h5 font-weight-300">
                    <i class="ni location_pin mr-2"></i>2학년
                  </div>
                  <br>
                  <div>
                    <i class="ni education_hat mr-2"></i>[ 자신있는 수업 ]
                  </div>
                  <div class="h5 ">
                    <i class="ni business_briefcase-24 mr-2"></i>: 전자기학, 회로이론
                  </div> -->
                  
                  <hr class="my-4">
                  <p class="introduce">안녕하세요! <br>— 전자과 다니는 2학년 안유성입니다.</p>
                  <!-- <a href="https://www.creative-tim.com/product/argon-dashboard" target="_blank">Show more</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6 m-auto text-center">
          <div class="copyright">
            <p>동아리 
              <a class="dgu-lion" href="http://dgulion.co.kr/" target="_blank">멋쟁이 사자들</a> 
              4조</p>
          </div>
        </div>
      </div>
    </footer>

</body>

</html>
