{% extends 'base.html' %}
{% load static %}
{% block style&js %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="question">
        <h1>{{question.title}}</h1>
        {% if question.writer %}
            {% if 'user' in question.writer.username %}
                <h3>작성자 : {{ question.writer.last_name }} {{ question.writer.first_name }}</h3>
            {% else %}
                <h3>작성자 : {{ question.writer }}</h3>
                {% if question.major %}
                    <h5>전공 : {{ question.major }}</h5>
                    <h5>교수 : {{ question.major.professor }}</h5>
                {% endif %}
            {% endif %}
        {% else %}
            <h3>작성자 : 알 수 없음</h3>
        {% endif %}
        <h5>나도몰라요 : {{ question.like_counts }}</h5>
        <h5>답변수 : {{ question.answers.count }}</h5>

        <h5>{{ question.pub_date }}</h5>
        <br>
        {% if question.image %}
            <div class="picBox pd56">
                <div class="pic">
                    <p><img src="{{ question.image.url }}" alt="사진"></p>
                </div>
            </div>
            <br>
        {% endif %}
        <p>{{question.body}}</p>
        
        {% if user.is_authenticated %}
        <div>
            <form action="{%url 'qna:likes' question.id%}" method="POST">
                {%csrf_token%}
                {% if user in question.like_users.all %}
                    <input type="submit" value='나도몰라요 취소'>
                {% else %}
                    <input type="submit" value='나도몰라요'>
                {% endif %}
            </form>
        </div>
        <br>
            {% if question.writer == user %}
            <a href="{% url 'qna:edit' question.id %}"><strong>수정하기 &nbsp</strong></a>
            <a href="{% url 'qna:delete' question.id %}"><strong>삭제하기</strong></a>
            {% endif %}
        {% endif %}
        <hr>
        
        {% if user.is_authenticated %}
        <div>
            <form action="{%url 'qna:create_answer' question.id%}" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <textarea name="content" placeholder="문제의 답을 해결해주세요!"></textarea>
                <input type="file" name="image">
                <input type="submit" value="확인">
            </form>
        </div>
        <hr>
        {% else %}
        <h3>답변을 올리려면 로그인을 해 주세요.</h3>
        <hr>
        {% endif %}
        <div>
            {% for answer in answers %}
            <div>
                <h4>작성자 : {{answer.writer}}</h4>
                {% if answer.selection is True %}
                <h4>채택완료</h4>
                {% endif %}
                {% if answer.image %}
                <div class="picBox pd56">
                    <div class="pic">
                        <p><img src="{{ answer.image.url }}" alt="사진"></p>
                    </div>
                </div>
                <br>
                {% endif %}
                <p>{{answer.content}}</p>
                {% if answer.writer == user %}
                <a href="{% url 'qna:edit_answer' question.id answer.id %}"><strong>수정하기 &nbsp</strong></a>
                <a href="{% url 'qna:delete_answer' question.id answer.id %}"><strong>삭제하기</strong></a>
                {% endif %}

                {% if question_writer == user %}

                    {% if if_q_solved == False %}
                    <form action="{%url 'qna:select' question.id answer.id %}" method="post">
                        {%csrf_token%}
                        {% if answer.selection == False %}
                        <button type = "radio" name="select" value="True">답변 채택하기</button>
                        {% else %}
                        <button type = "radio" name="select" value="False">다른 답변 기다리기</button>
                        {% endif %}
                    </form>
                    {% else %}
                    
                    {% if answer.selection == True %}
                    <form action="{%url 'qna:select' question.id answer.id %}" method="post">
                        {%csrf_token%}
                        <button type = "radio" name="select" value="False">채택 취소하기</button>
                    </form>
                    {% endif %}
                    {% endif %}

                {% endif %}

                <br><hr>
            </div>
            {% endfor %}
        </div>  
    </div>
</section>
{% endblock %}