{% extends 'base.html' %}
{% load static %}
{% block style&js %}
<link rel="stylesheet" type="text/css" href="{% static 'css/edit_style.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="edit">
        <br><br>
        <h1>댓글 수정하기</h1>
        <form action="{% url 'qna:update_answer' question.id answer.id %}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <p><textarea type="text" name="content" id="" cols="30" rows="10">{{answer.content}}</textarea></p>
            <div class="bottom">
                <div class="filebox">
                    <input class="upload-name" value="파일선택" disabled="disabled">
                    <label for="ex_filename">업로드</label> 
                    <input type="file" name="image" id="ex_filename" class="upload-hidden"> 
                </div>
                <br>
                <div class="submit_button">			
                    <button type="submit" style="border: none;"><a class="btn btn-orange">수정</a></button>		
                </div><br>
            </div>
        </form>
    </div>
    <br><br>
</section>
<script src="{% static 'js/que_new.js' %}" defer="defer"></script>
{% endblock %}