{% extends 'base.html' %}
{% load static %}
{% block style&js %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
{% endblock %}

{% block content %}
<section>
    <h2>글 수정하기</h1>
    <form action="{% url 'qna:update' question.id %}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <p>제목: <input type="text" name="title" value="{{ question.title }}"></p>
        <p>사진: <input type="file" name="image" value=""></p>
        <p>내용: <textarea type="text" name="body" id="" cols="30" rows="10">{{ question.body }}</textarea></p>
        <p>전공: 
            <select name="major">
                <option value="nothing">해당 없음</option>
                {% for m in majors %}
                <option value="{{ m }}">{{ m }}</option>
                {% endfor %}
            </select>
        </p>
        <button type = "submit">제출</button>
    </form>
</section>
{% endblock %}