/*  Mine  */
:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --dongguk-color-1-- : #F29303;
    --dongguk-color-2-- : #EA5515;
    --dongguk-color-3-- : #433526;
    --accent-color: rgb(87, 170, 166)
}      

a {
    text-decoration: none;
    color: var(--text-color);
}

/* 드래그 색상 */
::selection {
    background-color: #ec9119;
    color: rgb(31, 109, 182);
}

html, body {
    margin : 0;
    font-family: 'Source Sans Pro';
	
}

body{
    display: flex;
    flex-direction: column;
    align-items : center;
    width:100%;
}
/*  Mine  */

.select_major{
    display: flex;
    margin-top: 30px;
    align-items: center;
    margin-left: 30px;
}

#title {
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 6px;
    outline: none;
    margin: 30px;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
}

.title{
    width: 500px;
    font-size: 23px;
    border: 0;
    font-weight: 600;
    border-radius: 6px;
    outline: none;
    margin: 30px auto;
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: rgb(255, 255, 255);
    word-break: break-all;
    word-wrap: break-word;
}

.data1{
    display: flex;
}

.major{
    width: 245px;
    font-size: 18px;
    border: 0;
    border-radius: 6px;
    outline: none;
    font-weight: 600;
    margin: 10px auto;
    margin-right: 5px;
    float: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: rgb(255, 255, 255);
}

.professor{
    width: 245px;
    font-size: 18px;
    border: 0;
    border-radius: 6px;
    outline: none;
    font-weight: 600;
    margin: 10px auto;
    margin-left: 5px;
    float: right;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: rgb(255, 255, 255);
}

.answer {
    width: 500px;
    font-size: 18px;
    border: 0;
    border-radius: 6px;
    outline: none;
    margin: 10px auto;
    display: flex;
    text-align: left;
    padding: 10px;
    color: black;
    background-color: rgb(255, 255, 255);
    word-break: break-all;
    word-wrap: break-word;
}

.data2{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 600;
}

textarea {
    display: flex;
    overflow: hidden;
    width: 500px;
    height: 400px;
    font-size: 18px;
    border: 0;
    border-radius: 6px;
    outline: none;
    margin: 30px auto;
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
}

.filebox{
    margin-left: 30px auto;
    float: left;
    position: absolute;
}

.submit_button{
    float: right;
}

.solver{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.idk{
    border: none;
    outline: none;
    text-align: center;
    margin: 30px 0px;
}



/* On Img */
/* card-slide holding the image and the text */

  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
a{text-decoration:none;}

/********************
GENERIC BUTTON STYLES
********************/
.btn {font-size: 18px; white-space:nowrap; width:100%; padding:.8em 1.5em; font-family: Open Sans, Helvetica,Arial,sans-serif; line-height:18px; display: inline-block;zoom: 1; color: #fff; text-align: center; position:relative; -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear; transition: border .25s linear, color .25s linear, background-color .25s linear;}

/*DARK BUTTON STYLES*/		
.btn.btn-orange{background-color: #f59e00; border-color: #f59e00; -webkit-box-shadow: 0 3px 0 #b37401; box-shadow: 0 3px 0 #b37401;}
.btn.btn-orange:hover{background-color:#dd9003;}
.btn.btn-orange:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

  /* named upload */
.filebox .upload-name {
    display: inline-block;
    padding: .5em .75em;  /* label의 패딩값과 일치 */
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    
    font-family: "Noto Sansf KR", sans-serif;
    font-size: 10pt;
    font-weight: 400;
    line-height: 1.5;
    
    color: #444;
    background-color: #fff;
    
    padding: .6em 1.4em .5em .8em;
    margin: 0;
    
    border: 1px solid #aaa;
    border-radius: .5em;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
}

select:hover {
    border-color: #888;
}

select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

select:disabled {
    opacity: 0.5;
}

label {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3;
    
    color: #444;
    
    margin-right: 0.5em;
}

.new{
    max-width: 560px;
    margin: 0 auto;
}

.comment{
    width: 500px;
    font-size: 18px;
    border: 0;
    border-radius: 6px;
    outline: none;
    margin: 10px auto;
    display: flex;
    text-align: left;
    padding: 10px;
    color: black;
    background-color: rgb(255, 255, 255);
    word-break: keep-all;
    word-wrap: break-word;
}

.submit_button{
    border: none;
    outline: none;
    text-align: center;
    margin: 0 0 100px;
}

.question {
    margin: 80px auto 60px;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    word-break: keep-all;
    word-wrap: break-word;
}



.user_select {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #777;
}