

@keyframes buzz {
  50% {
    transform: translate(3px); }
  100% {
    transform: translate(-3px); } }
@keyframes spin {
  from {
    transform: rotateZ(0); }
  to {
    transform: rotateZ(1turn); } }
@keyframes shake {
  0%, 20%, 100% {
    transform: translateX(0); }
  40%, 80% {
    transform: translateX(-2px); }
  60% {
    transform: translateX(2px); } }
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  height: 100%; }

body {
  min-height: 100%;
  /* font-size: 62.5%; */
  background-color: var(--dongguk-color-3--);
  font-family: 'Nanum Gothic', sans-serif;
  color: #ffa200;
  display: flex;
  flex-direction: column; }
  body.page--detail .site__title {
    margin-top: 0; 
  }

h1, h2, h3, h4, h5, .title {
  font-family: 'Nanum Gothic', sans-serif;}

a {
  text-decoration: none;
  /* color: #5D6BCF; */
  font-weight: 700; }
  a:hover {
    text-decoration: underline; }

.hidden {
  opacity: 0; }



.site {
  padding: 2rem 3rem; }

.site__title {
  font-size: 2.6rem;
  margin-bottom: 1rem;
  position: relative; 

  font-weight: 500;}
  .site__title.site__title--separator:after {
    position: absolute;
    border-bottom: 3px solid #F79E77;
    width: 10%;
    content: '';
    left:50%;
    transform: translateX(-50%);
    bottom: -1.3rem; 
  }

.site__description {
  color: #ca7600;
  font-size: 1.2rem;
  font-weight: 200;
  padding-top: 1rem;
  z-index: 1; }

.site__label {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  color: #c1bfbf; }

.site__secondary_title {
  display: none;
  color: black;
  margin: 2rem 5rem 0 5rem;
  font-size: 1.2rem;
  font-family: 'Nanum Gothic', sans-serif; }

.search-wrapper2{
  grid-column:1/3;
}
.search-wrapper2 .input-holder{
  text-align: left;
}

.search-wrapper2 .search-input{
  width: 50%;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  background-color: #c1bfbf;
}

.search-wrapper2 .search-icon{
  background-color: #c1bfbf;
  border: none;
}
.search-wrapper2 .search-icon img{
  height: 36px;
  width: 36px;
  background-color: #c1bfbf;
  border: none;
}
.selectionForm{
  margin: auto;
}
/*radio 버튼 색상변경 */
.selection input{
  display:none;
}
.selection button{
  border: none;
  background-color: #c1bfbf;
  margin: auto 6px;
}
.selection label{
  cursor: pointer;
  padding: 8px 4px;
  border-radius: 12px;
  border: 2px solid black;
  background:#c1bfbf;
}

.body-slide{
  margin: 0 auto;
}

#site__bg {
  display: none; }

.episode {
  position: relative;
  display: flex; }
  .episode:nth-child(1) .episode__image {
    background-image: url(../images/photos/edited/1.png); }
  .episode:nth-child(2) .episode__image {
    background-image: url(../images/photos/edited/2.png); }
  .episode:nth-child(3) .episode__image {
    background-image: url(../images/photos/edited/3.png); }
  .episode:nth-child(4) .episode__image {
    background-image: url(../images/photos/edited/4.png); }
  .episode:hover .episode__detail:before {
    width: 100%; }
  .episode:hover:nth-child(1) .episode__image {
    background-image: url(../images/photos/original/1.png); }
  .episode:hover:nth-child(2) .episode__image {
    background-image: url(../images/photos/original/2.png); }
  .episode:hover:nth-child(3) .episode__image {
    background-image: url(../images/photos/original/3.png); }
  .episode:hover:nth-child(4) .episode__image {
    background-image: url(../images/photos/original/4.png); }

.episode__number {
  display: none;
  position: absolute;
  top: -2rem;
  left: -1.5rem;
  z-index: 1;
  font-size: 3rem;
  margin: 0;
  color: #5D6BCF; }

.episode__image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: all .1s ease-in-out;
  display: block; }

.episode__media {
  position: relative;
  width: 30%;
  transition: .2s ease-out; }
  .episode__media:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    background-image: url("../images/pixel-corner.svg");
    width: 50px;
    height: 50px;
    background-size: cover; }
  .episode__media:hover {
    transform-origin: 0 50%;
    transform: perspective(1000px) rotateY(-10deg) translate3d(-3px, 0, 0); }

.episode__detail {
  width: 70%;
  padding: 0 1rem;
  position: relative;
  transition: width .3s ease-in-out; }
  .episode__detail:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    content: '';
    background-color: #292C37;
    z-index: -1; }

.episode__title h4 {
  font-size: 1.6rem;
  margin: 1rem 0 .3rem 0;
  font-family: 'Nanum Gothic', sans-serif;
  color: #F7F7F6; }
  .episode__title h4:hover {
    color: #5D6BCF; }

.episode__description {
  margin-top: 0;
  font-size: 1.1rem;
  font-weight: 100;
  color: #c1bfbf; }

.play-pause-btn {
  height: 100%;
  width: 60px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #141720;
  outline: none; }
  .play-pause-btn.play {
    background-image: url(../images/play.svg); }
  .play-pause-btn.pause {
    background-image: url("../images/pause.svg"); }


/* mobile first*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .page--detail .site {
    padding-bottom: 5rem;
    padding-top: 5rem; }

  .left .site__title.site__title--separator:after {
    display: none; }

  .right .episode__image {
    width: 100px;
    float: left;
    margin: 1.5rem 1rem 0 0;
    border-radius: 2px; }
  .right .playBtn {
    display: none; } }
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 1000px) {
  /* main page */
  body {
    position: relative; }

  .main {
    justify-items: stretch;
    justify-content: stretch;
  }
  .main section.site{
    text-align: center;
  }
  .main .make_question{
    text-align: center;
    width: 100%;
  }
  .make_question > .new{
    margin: 0 auto;
    width: 160px;
    border: 3px solid #141720;
    color: #141720;
  }
  .make_question > .new > h4{
    margin: 0;
    padding: 4px;
  }
  .make_question > .new > h4 > a{
    color: #141720;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
  .main section.question_menu{ 
    padding: 1rem 2rem;
    margin: 30px auto 0;
    max-width: 1200px;
    color:black;
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #c1bfbf;
  }
  .question_menu .search{
    text-align: left;
    grid-column: 1/3;
  }
  .question_menu .selection{
    text-align: right;
    grid-column: 3/4;
  }
  #site__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block; }

  .site {
    padding: 0 2;
    flex: 1; }


  /* episodes */
  .episodes {
    margin: 0 auto;
    max-width: 1500px; }



  /* page detail */
  .page--detail {
    flex-direction: row; }
    .page--detail .site {
      display: flex;
      padding: 0 0 0 60px; }

  .left,
  .right {
    width: 50%; }

  .left {
    padding-left: 5rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column; }
    .left .site__title.site__title--separator:after {
      display: block;
      width: 100px; }
    .left .episode__date {
      padding: 1rem 0 2rem 0;
      color: #5D6BCF;
      font-weight: 500;
      font-size: 1rem; }

  .right {
    display: flex;
    flex-direction: column;
    background-color: #F7F7F6;
    position: relative; }
    .right .episode__image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: .1;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      width: 100%;
      margin: 0;
      float: none;
      object-fit: cover; }
    .right .site__description {
      color: #1C1F2A;
      font-weight: 500;
      font-size: 1rem;
      margin: 0 5rem auto 5rem; }
    .right .site__playbar {
      margin: 5rem 3rem 0 3rem; }
    .right .site__navigation {
      margin: 2rem 0; }

  .site__secondary_title {
    display: block; }

  /* audio player */
  .site__playbar {
    background: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1); }

  .audio-player {
    position: inherit;
    background-color: white;
    margin-right: 5rem;
    border-radius: 4px; } }
@media only screen and (min-width: 1400px) {
  .right .site__description {
    column-count: 2; } }

    * Card Slide */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Nanum Gothic', sans-serif;
    }
    
    .slide-body {
        display: flex;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        background: #f2f2f2;
        position: relative;
    }
    
    .slide-body::before {
        content: '';
        position: absolute;
        width: 100%;
        background: var(--dongguk-color-1--);
        clip-path: inset(47% 0 0 0);
        z-index: -1;
        height: 100%;
    }
    
    .card-slide2 {
        /* card size */
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        padding: 40px 20px 80px;
    }
    .cards .card{
      margin: 20px 0;
    }
    .card-slide2 .main-card {
        display: flex;
        width: 200%;
    }
    
    #two:checked~.main-card {
        margin-left: -100%;
    }
    #two_2:checked~.main-card {
      margin-left: -100%;
  }
    
    .card-slide2 .main-card .cards {
        width: calc(100% / 2 - 10px);
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        justify-content: space-between;
    }
    .media-icons a {
        text-align: center;
        line-height: 33px;
        height: 35px;
        width: 100px;
        margin: 0 4px;
        font-size: 14px;
        color: #FFF;
        border-radius: 30px;
        border: 2px solid transparent;
        background: var(--dongguk-color-1--);
        transition: all 0.3s ease;
        font-weight : bold;
    }
    
    .media-icons a:hover {
        color: var(--dongguk-color-2--);
        background-color: #fff;
        border-color: var(--dongguk-color-2--);
    }
    
    .card-slide2 .button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    
    .button label {
        height: 15px;
        width: 15px;
        border-radius: 20px;
        background: #fff;
        margin: 0 4px;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    
    .button label.active {
        width: 35px;
    }
    
    /* 1st Card */
    #one:checked~.button .one {
        width: 35px;
    }
    
    #one:checked~.button .two {
        width: 15px;
    }
    
    #two:checked~.button .one {
        width: 15px;
    }
    
    #two:checked~.button .two {
        width: 35px;
    }
    /* 1st Card */
    /* 2nd Card */
    #one_2:checked~.button .one {
      width: 35px;
  }
  
  #one_2:checked~.button .two {
      width: 15px;
  }
  
  #two_2:checked~.button .one {
      width: 15px;
  }
  
  #two_2:checked~.button .two {
      width: 35px;
  }


    @media (max-width: 768px) {
        .main-card .cards .card {
            margin: 20px 0 10px 0;
            width: calc(100% / 2 - 10px);
        }
    }
    
    @media (max-width: 600px) {
        .main-card .cards .card {
            /* margin: 20px 0 10px 0; */
            width: 100%;
        }
    }
    /* Card Slide */
.nonmessage {
  height: 540px;
  overflow: hidden;
}

.nonmessage .text{
  margin: 0 auto;
  text-align: center;
}